/build
build/
*/build/

/gen
gen/

/bin
bin/

.settings
.properties

.apk
*.apk
*.ap_

.dex
*.dex

.class
*.class

local.properties
proguard/
.log
.project
*.o
*.so

Thumbs.db
.DS_Store
.idea
gradle/
.gradle
*.iml
